#pinkHead{
    position: absolute;
    width: 100%;
    height: 59px;
    left: 0px;
    top: 0px;
    background: #FFCAC6;
}

#skidka{
    position: absolute;
    width: 434px;
    height: 29px;
    left: 503px;
    top: 15px;

    font-family: Cambria Math;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 24px;
    text-align: center;

color: #BE4A00;
}

#logo{
    position: absolute;
    width: 313px;
    height: 77px;
    left: 573px;
    top: 94px;

    background: #C4C4C4;
}

#input{
    
    position: absolute;
    left: 470px;
    width: 513px;
    top: 200px;
    bottom: 91.6%;
}

/* .form-control{
    border-radius: 77px;
} */


.form-control.mr-sm-2{
    width: 513px;
    border-radius: 70px;
}

#poisk-knopka{
    position: relative;
    bottom: 39px;
    left: 469px;
    border-radius: 50%;
    background: #BE4A00;
    border-color: #BE4A00;
}

#menu{
    position: absolute;
    width: 782px;
    height: 28px;
    left: 343px;
    top: 273px;
}

.nav-link{
    font-family: Cambria Math;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 18px;

    color: #BE4A00;
}
.nav-link:hover{
    color: #000000;
}

#banner{
    position: absolute;
    width: 100%;
    height: 594px;
    top: 301px;

    background: linear-gradient(180deg, #FFCAC6 34.25%, #DB8383 99%);
}

.spring{

    font-family: Calisto MT;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: 150px;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
}
#s1{
    position: absolute;
    width: 627px;
    height: 147px;
    left: 366px;
    top: 120px;
}

#s2{
    position: absolute;
    width: 627px;
    height: 147px;
    left: 366px;
    top: 228px;
}

#s3{
    position: absolute;
    width: 627px;
    height: 147px;
    left: 362px;
    top: 336px;
}

#s4{
    position: absolute;
    width: 627px;
    height: 147px;
    left: 362px;
    top: 444px;

}

#black-frame{
    position: absolute;
    width: 427px;
    height: 541px;
    left: 80px;
    top: 38px;

    background: #000000;
}

#banner-text{
    position: absolute;
    width: 364px;
    height: 349px;
    left: 1006px;
    top: 120px;

    font-family: Cambria Math;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 30px;
    text-align: center;

    color: #000000;
}

#banner-but{
    position: absolute;
    left: 1090px;
    top: 400px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: 24px;
    text-align: center;

    color: #B13A3A;
    border: 3px solid #B13A3A;
    box-sizing: border-box;

}



#line{
    position: absolute;
    width: 1440px;
    height: 16px;
    left: 0px;
    top: 904px;

    background: #DB8383;
}

#news{
    position: absolute;
    width: 100%;
    height: 670px;
    background: #B13A3A;
    top: 1000px;
    
}

#news-text{
    position: absolute;
    width: 921px;
    height: 47px;
    left: 275px;
    top: 30px;

    font-family: Cambria Math;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 48px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}


.col-sm1{
    position: absolute;
    width: 300px;
    height: 376px;
    left: 91px;
    top: 80px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.col-sm1 img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.col-sm2{
    position: absolute;
    width: 300px;
    height: 376px;
    left: 536px;
    top: 80px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.col-sm2 img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.col-sm3{
    position: absolute;
    width: 300px;
    height: 376px;
    left: 981px;
    top: 80px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.col-sm3 img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
} 
#col-info{
    position: absolute;
    width: 297px;
    height: 117px;
    top: 375px;
    background: #FFFFFF;
    
}
.info-style{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 18px;
    letter-spacing: 0.02em;

    color: #000000;
}

#col-info-text{
    position: absolute;
    width: 297px;
    height: 117px;
    top: 400px;
}

#news-but{
    position: absolute;
    width: 294px;
    height: 48px;
    left: 573px;
    top: 600px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;

}

#actual{
    position: absolute;
    top: 1750px;
    height: 400px;
}

#actual-line1{
    position: absolute;
    width: 100%;
    height: 16px;
    left: 0px;
    top: 400px;

    background:#000000;
}

#container-actual{
    position: relative;
}