<div class="container p-2">
  <div class="row">
    <div class="col-md-7 p-3">
      <img class="img-fluid" src="https://static.zara.net/photos///2019/V/0/1/p/2240/661/756/3/w/1920/2240661756_1_1_1.jpg?ts=1551270868031"
      alt="Image"  height="345">
    </div>
    <div class="col-md-5">
      <div class="container p-5">
        <h5 class="text-left p-1 text-uppercase"> {{name}} </h5>
        <h6 class="p-1">{{cost}} KZT</h6>
        <div class="container break-text">
          <div class="row">
            <div class="col-xs-5 p-1">
              <p> {{description}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>
