<div id="banner">
  <div class="box">
      <div class="container">
        <div class="row py-4 d-flex align-items-center">
            <div class="col-9"></div>
            <div class="col-3 text-center mt-5">
              <p id="banner-t">
                  Главное о модных тенденциях и трендах сезона весна-лето 2019. Самые модные вещи, актуальные весенне-летние коллекции. Обзоры показов с Недели моды в Париже, Лондоне, Милане и Нью-Йорке. А также главные бьюти тренды сезона. 
              </p>
              <button id="banner-btn" type="button" class="btn btn-outline-danger">Узнать больше</button>
            </div>
        </div>

      </div>
  </div>
  <div id="line"></div>
</div>

<div class="news">
  <div class="container text-center text-md-left mt-5"> 
    <div class="row py-4 d-flex align-items-center">
        <div class="col text-center">
            <h1 id="news-text">НОВОСТИ ИЗ МИРА МОДЫ И КРАСОТЫ</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/asos-ww-style-lessons-dior-10.jpg" alt="Card image cap">
              <div id="col-info" class="card-body">
                <p class="card-text">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</p>
              </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/asos_ww_5_of_the_best_new-season-dresses-3.jpg" alt="Card image cap">
              <div id="col-info" class="card-body">
                <p class="card-text">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</p>
              </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/www-article-street-style-3.jpg" alt="Card image cap">
              <div id="col-info" class="card-body">
                <p class="card-text">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</p>
              </div>
          </div>
        </div>
    </div>
    <div class="row py-4 d-flex align-items-center">
        <div class="col text-center">
            <button id="news-but" type="button" class="btn btn-outline-light">Смотреть все</button>
        </div>
      </div>
  </div>
</div>

<div class="actual">
  <div class="actual-line"></div>
  <div  class="container text-center text-md-left mt-5">
      <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <img src="../../assets/office.jpg" style="width:150px;height:200px;">
              <h6 id="actual-text" class="text-uppercase font-weight-bold">ОДЕЖДА ДЛЯ ОФИСА</h6>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <img src="../../assets/plyazh.jpg" style="width:150px;height:200px;">
              <h6 id="actual-text" class="text-uppercase font-weight-bold">ОДЕЖДА ДЛЯ ПЛЯЖА</h6>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <img src="../../assets/vecher.jpg" style="width:150px;height:200px;">
              <h6 id="actual-text" class="text-uppercase font-weight-bold">СТИЛЬНАЯ ГОСТЬЯ</h6>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <img src="../../assets/vesna.jpg" style="width:150px;height:200px;">
              <h6 id="actual-text" class="text-uppercase font-weight-bold">ЧТО НАДЕТЬ НА ВЕСНУ</h6>
          </div>
      </div>
  </div>
  <div class="actual-line"></div>
</div>