
.box{
    
    height: 560px;
    
    background-image: url("../../assets/banner.png");

}

#banner-t{
    font-family: Cambria Math;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}


#banner-btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    text-align: center;

    color: #B13A3A;
    border: 3px solid #B13A3A;
    box-sizing: border-box;
}


#banner-btn:hover{
    color: #FFFFFF;
    background-color: #B13A3A;
}

#line{
    margin-top: 10px;
    height: 10px;
    background: #DB8383;
}

.news{
    margin-top: 50px;
    background: #B13A3A;
}

#news-text{
    font-family: Cambria Math;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 45px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

#col-info{
    
    background: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 15px;
    letter-spacing: 0.02em;
}

#news-but{

    font-family: Roboto;
    font-style: normal;
    line-height: 22px;
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;

}

.actual{
    margin-top: 15px;
    margin-bottom: 25px;
}

.actual-line{
    
    height: 10px;
    background: #DB8383;
}

#actual-text{
    font-family: Cambria Math;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 15px;

    color: #000000;
}
