<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style_home.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Hello, world!</title>
    </head>
    <body>
        <div class="start">
            <div class="pinkHead">
                <h1 id="skidka">СКИДКИ ДО -20% НА НОВЫЙ СЕЗОН</h1>
            </div>
            <div class="logo_div">
                <img id="logo" src="Pictures/DLSw3laF3E0.jpeg" >
            </div>
            <div id="poisk">
                <form class="form-inline" id="input">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                
                </form>
            </div>
        </div>
        <div class="menu">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Новинки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Одежда</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Обувь</a>
                        </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Сумки</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#">Аксессуары</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#">Дизайнеры</a>
                </li>
                
            </ul>
        </div>
        <div class="banner">
            <div class="box"></div>
            <div id="line"></div>
        </div>

        <div class="news">
            <h1 id="news-text">НОВОСТИ ИЗ МИРА МОДЫ И КРАСОТЫ</h1>
            <div id="blocks">
                <div class="bl_1">
                    <img src="Pictures/asos-ww-style-lessons-dior-10.jpg">
                    <div id="col-info">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</div>
                </div>
                <div class="bl_2">
                        <img src="Pictures/asos_ww_5_of_the_best_new-season-dresses-3.jpg">
                        <div id="col-info">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</div>
                </div>
                <div class="bl_3">
                        <img src="Pictures/www-article-street-style-3.jpg">
                        <div id="col-info">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</div>
                </div>
            </div>
            <button type="button" id="news-but" class="btn btn-outline-secondary">Смотреть все</button>
        </div>

        <div id="actual">
            <div class="actual-line" id="line"></div>
            <h1 id="actual-text">Что вы ищете?</h1>
            <div id="actual-option">
                <div class="option">
                    <img src="Pictures/office.jpg">
                    <!-- <h1 id="option-text">ОДЕЖДА ДЛЯ ОФИСА</h1> -->
                </div>
                <div class="option">
                    <img src="Pictures/plyazh.jpg" >
                </div>
                <div class="option">
                    <img src="Pictures/vecher.jpg">
                </div>
                <div class="option">
                    <img src="Pictures/vesna.jpg">
                </div>
                <div class="option">
                    <img src="Pictures/vintage.jpg">
                </div>
            </div>
            <div class="actual-line2" id="line"></div>
        </div>
        <div class="footer">
            <div id="footer-part">
                <h1 id = "footer-title">о НАС</h1>
                <div id="f-line"></div>
                <h2 id="footer-text">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</h2>
            </div>
            <div id="footer-part">
                <h1 id = "footer-title">КОНТАКТЫ</h1>
                <div id="f-line"></div>
                <h2 id="footer-text">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</h2>
            </div>
            <div id="footer-part">
                    <h1 id = "footer-title">ОСТАВАЙСЯ С НАМИ</h1>
                    <div id="f-line"></div>
                    <h2 id="footer-text">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</h2>
                    <h2 class="vash" id="footer-text">Ваш e-mail</h2>
                    <input type="text" class="form-control" id="validationCustom02" placeholder="e-mail" >

            </div>
        </div>
    </body>
</html>