<div id="rectangle"></div>
<h2 id="odezhda" class="text-center p-3">Одежда</h2>
<div id="line"></div>
<div class="container">
<div class="row">
  <div class="column col-md-4 col-sm-4">
    <div id="bar">
      <ul style="list-style-type:none">
        <dl class="bar-item" >
          <a class="bar-link active" [routerLink]="['/clothes/0']">Все товары</a>
        </dl>
        <dl class="bar-item">
          <a class="bar-link" [routerLink]="['/clothes/4']">Одежда для активного образа жизни</a>
        </dl>
        <dl class="bar-item">
          <a class="bar-link" [routerLink]="['/clothes/3']">Платья</a>
        </dl>
        <dl class="bar-item">
          <a class="bar-link" [routerLink]="['/clothes/1']">Жакеты и пальто</a>
        </dl>
        <dl class="bar-item">
          <a class="bar-link" [routerLink]="['/clothes/2']">Джинсы</a>
        </dl>
        <dl class="bar-item">
          <a class="bar-link">Комбинезоны</a>
        </dl>
        <dl class="bar-item">
          <a class="bar-link">Для беременных</a>
        </dl>
        <dl class="bar-item">
          <a class="bar-link">Брюки и леггинсы</a>
        </dl>
        <dl class="bar-item">
          <a class="bar-link">Шорты</a>
        </dl>
        <dl class="bar-item">
          <a class="bar-link">Юбки</a>
        </dl>
        <dl class="bar-item">
          <a class="bar-link">Элементы костюмов</a>
        </dl>
        <dl class="bar-item">
          <a class="bar-link">Свитера и вязаные изделия</a>
        </dl>
        <dl class="bar-item">
          <a class="bar-link" >Пляжная одежда</a>
        </dl>
        <dl class="bar-item">
          <a class="bar-link">Топы</a>
        </dl>
      </ul>
    </div>
</div>

<div class="col-md-4 col-sm-4" *ngFor="let item of clothes; let i = index">
  <div class="thumbnail">
    <img src={{item.imageurl}} [routerLink]="['/detail/'+item.id]" alt="Lights" style="width:100%">
    <div class="caption">
    <p>{{item.name}}</p>
    </div>
    </div>
</div>
