<div class="container-fluid">
  <div id="pinkHead" class="row justify-content-center p-3">
      <div class="col " align="center">
        <h1 id="skidka">СКИДКИ ДО -20% НА НОВЫЙ СЕЗОН</h1>
      </div>
      <div id="icons" class="col col-lg-1" align="space-between">
        <i id="icon" class="fas fa-heart" style="font-size:23px"></i>
        <i id="icon" class="fas fa-user-circle" style="font-size:23px"></i>
        <i class="fas fa-shopping-cart" style="font-size:23px"></i>
      </div>
  </div>
  <div class="row justify-content-center p-3">
    <img  src="../../assets/DLSw3laF3E0.jpeg" >
  </div>
  <div class="row justify-content-center p-3">
    <form class="form-inline" id="input">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
  <div class="row justify-content-center p-3">
      <ul class="nav">
          <li class="nav-item">
              <a class="nav-link active" href="#">Новинки</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Одежда</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Обувь</a>
                  </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Сумки</a>
          </li>
          <li class="nav-item">
                  <a class="nav-link" href="#">Аксессуары</a>
          </li>
          <li class="nav-item">
                  <a class="nav-link" href="#">Дизайнеры</a>
          </li>
        </ul>
  </div>
</div>